# --- Ignore (Backend) ---
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# --- Ignore Node (Frontend) ---
frontend/node_modules/
frontend/dist/
frontend/.env

# --- Ignorar archivos del sistema ---
.DS_Storevenv/
__pycache__/
*.pyc
